allegoryOf/documentation/files/BVR_2019_04_14_14_34_19_1.mp4
locationhistory/
locationhistory/*
allegoryOf/documentation/files/20190421_122346.mp4
allegoryOf/documentation/files/20190421_122534.mp4
allegoryOf/documentation/files/QVR_2019_04_28_22_00_53_1.mp4
ITP/NYQuotient/wintershow_documentation.mp4
.DS_Store